.menu{
    position: fixed;
    width: 100vw;
    line-height: normal;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    font-size: 0.96rem;

    background-color: rgba(150, 150, 100, 0.6);
}